# primeiros Exemplos

In [2]:
print('primeiro programa')
1 \
 + 2
help(print)

primeiro programa
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [4]:
1 + 2 + 3
4 + 5 + 6

15

In [7]:
print(1 + 2 + 3)
print(4 + 5 + 6)

6
15

# Tipos Básicos

In [18]:
print(True)
print(False)
print(1.2 + 1)
print('Aqui eu falo na minha língua')
print("Tb funciona")
print('Você é ' + 3 * 'muito ' + 'legal!')
#print(3 + '3') -> ambiguidade
print([1, 2, 3])
print({'nome': 'pedro', 'idade': 22})
print(None)

True
False
2.2
Aqui eu falo na minha língua
Tb funciona
Você é muito muito muito legal!
[1, 2, 3]
{'nome': 'pedro', 'idade': 22}
None

# Variáveis

In [27]:
a = 10
b = 5.2

print(a + b)

a = 'Agora sou uma string'
print(a)
a
b

#print(a + b)

15.2
Agora sou uma string

5.2

# Comentários

In [30]:
#Minhas variáveis
salario = 3450.45
despesas = 2456.2

'''
A ideia é calcular o
quanto vai sobrar no
final do mês!
'''
print(salario - despesas)

#print('Fim')
print('Fim de verdade') # comentarios aqui tb vale!

994.25
Fim de verdade

# Operadores Aritméticos

In [35]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(9.4 // 3)
print(2 ** 8)
print(10 % 3)

a = 12
b = a
print(a + b)

5
-3
10.6
3.1333333333333333
3.0
256
1
24

In [38]:
# Minhas variáveis
salario = 3450.45
despesas = 2456.2
percentual_comprometido = despesas / salario * 100
percentual_comprometido

71.18491790925822

# Operadores Relacionais

In [43]:
3 > 4
4 >= 3
1 < 2
3 <= 1
3 != 2
3 == 3
2 == '2'

False

# Operadores de Atribuição

In [9]:
a = 3
a = a + 7
print(a)

a = 5
a += 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 256
print(a)

10
10
7
14
3.5
3.5
22518.75390625
87.0

# Operadores Lógicos

In [1]:
True or False
7 != 3 and 2 > 3

# Tabela verdade do AND
True and True
True and False
False and True
False and False

# Tabela verdade do OR
True or True
True or False
False or True
False or False

# Tabela verdade do XOR
True != True
True != False
False != True
False != False

# Operadores de Negação (únario)
not True
not False

not 0
not 1

# Cuidado
True & False
False | True
True ^ False

# AND Bit_a_bit
# 3 = 11
# 2 = 10
# _ = 10
3 & 2

# OR Bit_a_bit
# 3 = 11
# 2 = 10
# _ = 11
3 | 2

# XOR Bit_a_bit
# 3 = 11
# 2 = 10
# _ = 01
3 ^ 2

# Um pouco de realidade
saldo = 1000
salario = 4000
despesas = 2967

saldo_positivo = saldo > 0
despesas_controladas = salario >= 0.2 * salario

meta = saldo_positivo and despesas_controladas
meta

True

In [7]:
# Desafio Operadores lógicos

# Os trabalhos
trabalho_terca = True
trabalho_quinta = False

'''
- Confirmando os 2: TV 50' + Sorvete
- Confirmando apenas 1: TV 32' + Sorvete
- Nenhum confirmado: Fica em casa
'''
tv_50 = trabalho_terca and trabalho_quinta
tv_32 = trabalho_terca != trabalho_quinta #XOR
sorvete = trabalho_terca or trabalho_quinta
mais_saldavel = not sorvete

print('TV50={} TV32={} Sorvete={} Saldável={}'
      .format(tv_50, tv_32, sorvete, mais_saldavel))

TV50=False TV32=True Sorvete=True Saldável=False

# Operadores Unários

In [12]:
a = 3
# a++
a += 1
a
# a--
++a
-a
+a

not 0
not 1
not -2
not False
not not True

True

# Operadores Ternários

In [17]:
esta_chovendo = True
print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chovendo])

print('Hoje estou com as roupas ' + ('molhadas.' if esta_chovendo else 'secas.'))

Hoje estou com as roupas molhadas.
Hoje estou com as roupas molhadas.

# Mais Operadores

In [26]:
# Operadores de Membro
lista = [1, 2, 3, 'Ana', 'Carla']
2 in lista
'Ana' not in lista

# Operadores de Identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

True

# Builtins

In [41]:
# type()
type(1)
__builtins__.type('Fala Galera!')
__builtins__.print(10 / 3)

#__builtins__.help(__builtins__.dir)
# dir()
# dir(__builtins__)

nome = 'João da silva'
type(nome)
__builtins__.len(nome)

3.3333333333333335

13

# Conversão de Tipos

In [54]:
2 + 3
'2' + '3'
# 2 + '3'
# print(2 + '3')

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

print(2 + float('3.4'))

<class 'int'>
<class 'str'>
5
23
5.4

# Coerção Automática

In [68]:
10 / 2
type(10 / 2)
10 / 3
10 // 3
type(10 // 3)
10 // 3.3
type(10 // 3.3)
10 / 2.5
2 + True
2 + False
type(1 + 2)
type(1 + 2.5)

float

# Tipos Numéricos

In [88]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a - b)

b.is_integer()
5.0.is_integer()

dir(int)
int.__add__(2, 3)
2 + 3

(-2).__abs__()
abs(-2)

(-3.6).__abs__()
dir(float)
abs(-3.6)

3.6

In [101]:
# 1.1 + 2.2
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
dir(Decimal)

1.1 + 2.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

import decimal
dir(decimal)

['BasicContext',
 'Clamped',
 'Context',
 'ConversionSyntax',
 'Decimal',
 'DecimalException',
 'DecimalTuple',
 'DefaultContext',
 'DivisionByZero',
 'DivisionImpossible',
 'DivisionUndefined',
 'ExtendedContext',
 'FloatOperation',
 'HAVE_THREADS',
 'Inexact',
 'InvalidContext',
 'InvalidOperation',
 'MAX_EMAX',
 'MAX_PREC',
 'MIN_EMIN',
 'MIN_ETINY',
 'Overflow',
 'ROUND_05UP',
 'ROUND_CEILING',
 'ROUND_DOWN',
 'ROUND_FLOOR',
 'ROUND_HALF_DOWN',
 'ROUND_HALF_EVEN',
 'ROUND_HALF_UP',
 'ROUND_UP',
 'Rounded',
 'Subnormal',
 'Underflow',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__libmpdec_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 'getcontext',
 'localcontext',
 'setcontext']

#  Tipo String

In [15]:
dir(str)
nome = 'Saulo Pedro'
nome
nome[0]
# nome[0] = 'p'

# 'marca d'água'
"Dias D'Avila" == 'Dias D\'Avila'
texto = 'Texto entre apostrófos pode ter "aspas"'
texto

doc = '''Texto com múltipas
... linhas'''
doc
print(doc)

doc2 = """Também é possivel
... com 3 aspas duplas"""
doc2

Texto com múltipas
... linhas

'Também é possivel\n... com 3 aspas duplas'

In [33]:
nome = 'Ana Paula'
nome[0]
nome[6]
nome[-3]
nome[4:]
nome[-5:]
nome[:3]
nome[2:5]

numeros = '123456789'
numeros
numeros[::]
numeros[::2]
numeros[1::2]
numeros[::-1]

nome[::-1]

'aluaP anA'

In [51]:
frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase)
frase.lower()
frase
frase = frase.upper()
frase

frase.split()
frase.split('E')

# dir(str)
# help(str.center)

['PYTHON É UMA LINGUAG', 'M ', 'XC', 'L', 'NT', '']

In [63]:
a = '123'
b = ' de Oliveira 4'
a + b
a.__add__(b)
str.__add__(a, b)

dir(str)
len(a)
a.__len__()
'1' in a
a.__contains__('1')

dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Lista

In [78]:
lista = []
type(lista)
dir(list)
# help(list)
len(lista)
lista.append(1)
lista.append(5)
lista
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5)
nova_lista
nova_lista.reverse()
nova_lista

['Bia', 'Ana', 1]

In [91]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')
# lista.index(42)
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
# lista[5]
lista[-1]
lista[-5]

1

In [13]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3]
lista[1:-1]
lista[1:]
lista[:-1]
lista[:]
lista[::2]
lista[::-1]
del lista[2]
lista
del lista[1:]
lista

['Ana']

# Tupla

In [29]:
tupla = tuple()
tupla = ()
type(tupla)
dir(tupla)
#help(tuple)
tupla = ('um')
type(tupla)
tupla = ('um',)
type(tupla)
tupla[0]
#tupla[0] = 'novo'
cores = ('verde', 'Amarelo', 'Azul', 'Branco')
cores[0]
cores[-1]
cores[1:]

cores.index('Amarelo')
cores.count('Azul')
len(cores)

4

# Dicionário

In [44]:
pessoa = {'nome': 'Prof(a).Ana', 'idade': 38, 'cursos': ['inglês', 'português']}
type(pessoa)
dir(dict)
len(pessoa)

print(pessoa)
pessoa['nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'][1]
#pessoa['tags']
pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get('idade')
pessoa.get('tags')
pessoa.get('tags', [])

{'nome': 'Prof(a).Ana', 'idade': 38, 'cursos': ['inglês', 'português']}

[]

In [58]:
pessoa = {'nome': 'Prof.Alberto', 'idade': 43, 'cursos': ['React', 'Python']}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
pessoa
pessoa.pop('idade')

pessoa
pessoa.update({'idade': 40, 'sexo': 'M'})
pessoa
del pessoa['cursos']
pessoa
pessoa.clear()
pessoa

{}

# Conjunto

In [19]:
a = {1, 2, 3}
type(a)
#a[0]
a = set('coddddd3r')
print(a)
print('3' in a, 4 not in a)
{1, 2, 3} == {3, 2, 1, 3}

#operações
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2)
c1
c2 <= c1
c1 >= c2

{1, 2, 3} - {2}
c1 - c2
c1 -= {2}
c1

{'3', 'd', 'c', 'o', 'r'}
True True

{1, 3}

# Interpolação

In [38]:
from string import Template

nome, idade = 'Ana', 30

print('Nome: %s idade: %d ' % (nome, idade))#mais antiga
print('Nome: {0} Idade: {1}'.format(nome, idade)) #python < 3.6
print(f'Nome: {nome} Idade: {idade}') #python >= 3.6

s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome = nome, idade=idade))

Nome: Ana idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30